<h2>To-Do List Page</h2>
<header>
  <button [routerLink]="['/create']">+ Add New</button>
</header>
<br />

<div>
  <table>

    <thead>
      <tr>
        <th>#</th>
        <th>Task Name</th>
        <th>Creation Date</th>
        <th>Due Date</th>
        <th>Assignee</th>
        <th>Progress</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngIf="todos.length > 0;">
        <tr *ngFor="let todo of todos; let i = index" [ngStyle]="{background: todo.status === todoStatus.pending ? '#E2F1E7' : '#629584'}">

          <td>{{ i + 1 }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.createDate | customDate }}</td>
          <td>{{ todo.deadline | customDate }}</td>
          <td>{{ todo.assignee}}</td>
          <td>{{ todoStatus[todo.status] }}</td>

          <td>
            <button style="background-color: rgb(0, 89, 255)" (click)="statusChange(todo)"> Change Status </button>
            <button style="background-color: orange" [routerLink]="['/edit/', todo.id]"> Update </button>
            <button style="background-color: red" (click)="onDelete(todo.id)"> Delete </button>
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>
</div>
